*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.logo_codo_a_codo{
    height: 75px;
}

.comprar{
    color:green!important;
}

.menu{
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 100%;
}

.carrusel_principal .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    z-index: 1;
    height: 100vh!important;
  }
  
.carrusel_principal .carousel-item:before {
    content: "";
    background-image: linear-gradient(to top,rgba(0,0,0,.9) 0,rgba(0,0,0,0.8) 40%,rgba(0,0,0,.70) 75%,rgba(0,0,0,.9) 100%);
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh!important;
}

.texto_sobre_imagen{
    position: absolute;
    top: 40%;
    text-align: right;
    font-size: 1rem;
    color: white;
    z-index: 9;
}

.boton{
    padding:10px;
    border-radius: 5%;
    color: white;
}


.botones_carrusel{
    z-index: 10;
}

.boton:hover{
    font-weight: bold;
}

.boton_transparente{
    background-color: transparent;
    border-color: white;
}

.boton_verde{
    background-color: rgb(0, 173, 43);
    border: 2px!important;
    border-color:rgb(0, 173, 43);
}

.texto_oradores{
    text-align: center;
    margin-top: 30px;
}

.cartas_group{
    margin-left: 10%;
    margin-right: 10%;
}

.carta_item{
    margin:10px;
}

.fondo_gris{
    background-color: rgb(44, 43, 43);
    color:white;
}

.pantalla_divida{
    display:flex;
    height: 70vh;
    margin-top:30px;
}


.seccion_izquierda{
    width: 50%;
    background-image: url("../images/honolulu.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center;

}

.seccion_derecha{
    width: 50%;
    height: 70vh;
    background-color: rgb(44, 43, 43);
    padding: 10px;
    color:white;
    font-size: 1rem;
}


.formulario{
    margin-left:20%;
    margin-right:20%;
}

.boton_enviar{
    width: 100%;
}

.menu_footer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-image: linear-gradient(to right,#1d3e51 , #1e5170 100%);
    padding: 30px;
    padding-left: 15%;
    padding-right: 15%; 
}

.menu_footer a{
    text-decoration: none;
    color: white;
}

@media (max-width:1080px){
   
    .botones_carrusel{
        height: 50px;
        top: 90%;
    } 

}

@media (max-width:980px){
    .menu_footer{
        padding-left: 0;
        padding-right: 0;
    } 
}

@media (max-width:760px){

    .pantalla_divida{
        flex-direction: column;
        height: 100vh;
    }

    .seccion_izquierda{
        width: 100%;
        height: 50%;
    }

    .seccion_derecha .h2{
        font-size: 0.9rem;
    }
    
    .seccion_derecha{
        width: 100%;
        height: 50%;
        padding: 10px;
        font-size: 0.8rem;
    }

     .menu_footer{
        flex-direction: column;
    }  

    .texto_sobre_imagen{
        font-size: 0.8rem;
    }
   
}

@media (max-width:550px){
    .carrusel_principal .carousel-item img {  
        height: 85vh!important;
      }
      
    .carrusel_principal .carousel-item:before {
        position: absolute;
        height: 85vh!important;
    }
}
